@import '../utils/variables';
@import '../utils/mixins';

.notfound_main{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 159px;
    h1{
        color: $primary-text-color;
        font-size: 288px;
        font-weight: bold;
    }

    p{
        margin: -170px 0 182px 0;
        font-size: 36px;
        color: $primary-text-color;
        font-weight: medium;
    }

    span{
        font-size: 18px;
        color: $primary-text-color;
        font-weight: medium;
        text-decoration: underline;
        
    }

    br{
    display: none;
    }

    @include mobile-only{
        margin-top: 105px;
        margin-bottom: 235px;
        h1{
            font-size: 96px;
        }

        p{
            margin: -55px 0 133px 0;
            font-size: 18px;
            line-height: 25px;
        }

        br{
        display: block;
        }
        
        span{
            font-size: 14px;
        }
    }
}