.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto auto auto ;
    max-width: 1240px;
    height: 223px;
    background-image: url("../assets/img/banner.svg");
    background-repeat: no-repeat;
    p{
    font-family: 'Montserrat', sans-serif;
    font-size: 49px;
    color: white;
    }
}