@import '../utils/variables';
@import '../utils/mixins';

.accordions{
    display: flex;
    flex-direction: column;
    margin: 31px 209px 46px 208px;
    gap: 31px;

    @include mobile-only{
    width: 335px;
    margin: 19px 20px 0 20px;
    gap: 20px;
    }
}

.accordion_icon{
    @include mobile-only{
        width: 18.5px;
        height: 18.5px;
    }
}

.accordion_title_about {
    display: flex;
    position:relative ;
    align-items: center;
    justify-content: space-between;
    background: $primary-text-color;
    max-width: 1023px;
    height: 47px;
    font-size: 24px;
    padding-left: 18px;
    padding-right: 32px;
    color: $secondary-text-color;
    border-radius: 8px;
    z-index: 1;
    
    @include mobile-only{
        height: 30px;
        font-size: 13px;
        padding-right: 8px;
        }
}

.accordion_title_about:hover,
.active .accordion_title_about, 
.accordion_title_lodging_equipement:hover,
.active .accordion_title_lodging_equipement {
    cursor: pointer;
}

.active .accordion_icon {
	-webkit-animation: flip-horizontal-bottom 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.accordion_content {
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
}

.active .nbr_3 {
    margin: -40px 0px 31px 0px;
    padding: 36px 27px 19px 18px;
    max-width: 1023px;
    height: 168px;
    visibility: visible;
    overflow: visible;
    opacity: 1;
    background-color: $secondary-background-color;
	-webkit-animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    p{
        color:$primary-text-color;
        font-size: 24px;
    }

    @include mobile-only{
        padding-top: 28px;
        height: 150px;
        margin-top: -25px;
        p{
            font-size: 12px;
        }
    }
}
.active .nbr_0, .active .nbr_1, .active .nbr_2 {
    margin-top: -30px;
    padding-top: 36px;
    padding: 36px 27px 19px 18px;
    max-width: 1023px;
    height: 110px;
    visibility: visible;
    overflow: visible;
    opacity: 1;
    background-color: $secondary-background-color;
	-webkit-animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    p{
        color:$primary-text-color;
        font-size: 24px;
    }

    @include mobile-only{
        margin-top: -25px;
        padding: 31px 7px 0px 11.5px;
        height: 100px;
        p{
            font-size: 12px;
        }
    }
}




// LODGING PAGE


.accordion{
    flex: 1;

    @include mobile-only{
    flex: 0;
    }
}

.accordion_title_description_equipement {
    display: flex;
    position:relative ;
    align-items: center;
    justify-content: space-between;
    background: $primary-text-color;
    height: 52px;
    font-size: 18px;
    padding-left: 18px;
    padding-right: 8px;
    color: $secondary-text-color ;
    border-radius: 8px;
    z-index: 1;
    flex: 1;
    @include mobile-only{
        height: 30px;
    }
}

.lodging_description {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    @include mobile-only{
        height: 0px;
    }
}

.active .lodging_description {
    display: flex;
    margin-top: -36px;
    padding: 45px 12px 34px 20px;
    visibility: visible;
    overflow: visible;
    opacity: 1;
    background-color: $secondary-background-color;
	-webkit-animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    p{
        color:$primary-text-color;
        font-size: 18px;
    }

    @include mobile-only{
        margin-top: -20px;
        padding: 23px 7px 0px 12px;
        height: 134px;

        p{
            font-size: 12px;
        }
    }
}

.lodging_equipements {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    @include mobile-only{
        height: 0px;
    }
}

.active .lodging_equipements {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    padding: 54px 12px 30px 20px;
    visibility: visible;
    overflow: visible;
    opacity: 1;
    background-color: $secondary-background-color;
	-webkit-animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    p{
        color:$primary-text-color;
        font-size: 18px;
        margin-top: -10px;

    }

    @include mobile-only{
        height: auto;
        margin-top: -20px;
        padding: 23px 7px 0px 12px;
        p{
        font-size: 12px;
        margin-top: 19px;
        line-height: 2px;
        }
    }
}