@import '../utils/variables';

.accordions{
    margin-left: 208px;
    margin-right: 209px;
}

.accordion_title_about {
    display: flex;
    position:relative ;
    margin: 31px 0px 27px 0px;
    align-items: center;
    justify-content: space-between;
    background: $primary-text-color;
    max-width: 1023px;
    height: 47px;
    font-size: 24px;
    padding-left: 18px;
    padding-right: 30px;
    color: $secondary-text-color;
    border-radius: 8px;
    z-index: 1;
}

.accordion_title_about:hover,
.active .accordion_title_about {
    cursor: pointer;
}
.accordion_title_lodging_equipement:hover,
.active .accordion_title_lodging_equipement {
    cursor: pointer;
}

.active .accordion_icon {
	-webkit-animation: flip-horizontal-bottom 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.accordion_content {
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
}

.active .accordion_content {
    margin: -40px 0px 31px 0px;
    padding: 36px 27px 19px 18px;
    max-width: 1023px;
    height: 168px;
    visibility: visible;
    overflow: visible;
    opacity: 1;
    background-color: $secondary-background-color;
    color:$primary-text-color;
    font-size: 24px;
	-webkit-animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.active .nbr_0, .active .nbr_1, .active .nbr_2 {
    margin: -40px 0px 31px 0px;
    padding: 36px 27px 19px 18px;
    max-width: 1023px;
    height: 129px;
    visibility: visible;
    overflow: visible;
    opacity: 1;
    background-color: $secondary-background-color;
    color:$primary-text-color;
    font-size: 24px;
	-webkit-animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}




// LODGING PAGE
.accordion{
    flex-basis: 47%;
}

.accordion_title_description_equipement {
    display: flex;
    flex-basis: 50%;
    position:relative ;
    margin: 31px 0px 31px 0px;
    align-items: center;
    justify-content: space-between;
    background: $primary-text-color;
    height: 52px;
    font-size: 18px;
    padding-left: 18px;
    padding-right: 30px;
    color: $secondary-text-color ;
    border-radius: 8px;
    z-index: 1;
}

.lodging_description {
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
}

.active .lodging_description {
    margin: -36px 0px 0px 0px;
    padding: 40px 12px 53px 20px;
    height: 156px;
    visibility: visible;
    overflow: visible;
    opacity: 1;
    background-color: $secondary-background-color;
    color:$primary-text-color;
    font-size: 18px;
	-webkit-animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    z-index: -1;
}

.lodging_equipements {
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
}

.active .lodging_equipements {
    margin: -36px 0px 0px 0px;
    padding: 40px 12px 27px 20px;
    height: 182px;
    visibility: visible;
    overflow: visible;
    opacity: 1;
    background-color: $secondary-background-color;
	-webkit-animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    p{
        color:$primary-text-color;
        font-size: 18px;
        margin-top: 8px;
        line-height: 10px;
    }
}