@import '../utils/variables';
@import '../utils/mixins';

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 60px auto 13px auto ;
    max-width: 1240px;
    height: 223px;
    
    p{
        position: absolute;
        font-size: 54px;
        color: $secondary-text-color;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    @include mobile-only{
        margin: 60px auto 13px auto ;
        width: 335px;
        height: 111px;
        p{
            font-size: 24px;
            padding-left: 16px;
            padding-right: 104px;
        }
    }
}

.about_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto auto auto ;
    max-width: 1240px;
    height: 223px;

    img{
        object-fit: cover;
    }
}