@import '../utils/variables';

.carrousel_container{
    display: flex;
    position: relative;
    margin: 20px 100px 30px 100px;
    max-width: 1240px;
    max-height: 415px;
    min-width: 335px;
    min-height: 255px;
    border-radius: 20px;
    img{
    border-radius: 20px;
    object-fit: cover;
    }
}


.arrow_next{
    position: absolute;
    top: 40%;
    right: -1%;
}

.arrow_previous{
    position: absolute;
    top: 40%;
}

.pictures_counter{
position: absolute;
top: 90%;
left: 50%;
color: $secondary-text-color;
}