@import '../utils/variables';
@import '../utils/mixins';

.lodging_container{
    margin: 30px auto 40px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: $secondary-background-color;
    max-width: 1195px;
    padding: 28px 20px 28px 25px;
    border-radius: 30px ;

    @include mobile-only{
        flex-direction: column;
        width: 335px;
        margin: 22px 19px 40px 21px;
        padding: 0px;
        background-color: transparent;
    }
    
}

.lodging_card{
    display: flex;
    margin: 28px 30px 25px 25px ;
    border-radius: 12px;
    background-color: $third-background-color;

    a{
    text-decoration: none;
    }

    img{
        max-width:340px;
        min-width: 255px;
        max-height: 340px;
        min-height: 340px;
        object-fit: cover;
        border-radius: 12px;
    }

    div {
        justify-content: flex-start;
        align-items: center;
        display: flex;
        max-width: 300px;
        max-height: 52px;
        margin-top: -70px;
        margin-left: 15px;
        
        p{
            font-weight: 500;
            font-size: 18px;
            color: $secondary-text-color;
        }
    }

    &:hover{
        transform: scale(1.04);
        transition-duration: 400ms;
    }

    @include mobile-only{
        
        margin: 0px 0px 20px 0px ;
        img{
            width:335px;
        }
    }
}