@import '../utils/variables';
@import '../utils/mixins';


.carrousel_container{
    display: flex;
    position: relative;
    margin: 20px 100px 0px 100px;
    max-width: 1240px;
    max-height: 415px;
    border-radius: 20px;


    @include mobile-only{
        margin: 27px 20px 0px 20px;
        width: 335px;
        height: 255px;
    }
}

.carrousel_pictures{
    flex: 1;
    max-width: 1240px;
    max-height: 415px;
    border-radius: 20px;
    object-fit: cover;

    @include mobile-only{
        width: 335px;
        height: 255px;
    }
}

.arrow_next{
    position: absolute;
    top: 38%;
    right: 0%;
    
    @include mobile-only{
        width: 40px;
        height: 40px;
        top: 44%;
        right: 0%;
    }
}

.arrow_previous{
    position: absolute;
    top: 38%;

    @include mobile-only{
        width: 40px;
        height: 40px;
        top: 44%;
    }
}

.pictures_counter{
position: absolute;
top: 90%;
left: 50%;
color: $secondary-text-color;

@include mobile-only{
opacity: 0;
}
}