@import '../utils/variables';
@import '../utils/mixins';

.lodging_container{
    margin: 43px 100px 40px 100px;
    padding: 56px 50px 56px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $secondary-background-color;
    max-width: 1140px;
    border-radius: 30px ;
    row-gap: 50px;
    column-gap: 60px;    

    @include mobile-only{
        flex-direction: column;
        width: 335px;
        margin: 22px 19px 40px 21px;
        padding: 0px;
        background-color: transparent;
        row-gap: 20px; 
        column-gap: 0px; 
    }
    
}

.lodging_card{
    display: flex;
    width:340px;
    height: 340px;
    border-radius: 12px;
    a{
        text-decoration: none;
    }

    img{
        position: relative;
        width: 340px;
        height: 340px;
        object-fit: cover;
        border-radius: 12px;
    }

    div {
        position: absolute;
        justify-content: flex-start;
        align-items: flex-end;
        display: flex;
        width: 340px;
        height: 340px;
        margin-top: -344px;
        border-radius: 12px;
        background-image: linear-gradient(180deg, rgba(255,255,0,0) 0%, rgba(0,0,0,0.5)100%);
        p{
            flex:1;
            margin-bottom: 20px;
            margin-left: 20px;
            font-weight: 500;
            font-size: 18px;
            color: $secondary-text-color;
        }
    }

    &:hover{
        transform: scale(1.04);
        transition-duration: 400ms;
    }

    @include mobile-only{
        width:335px;
        height: 255px;

        div{
            width:335px;
            height: 255px;
            margin-top: -259px;
        }

        img{
            width:335px;
            height: 255px;
        }
    }
}