@import '../utils/variables';
@import '../utils/mixins';

.rating_container{
    display: flex;
    margin-top: 11px;

}

.rating_star{
    @include mobile-only{
        width: 18px;
        height: 18px;
        margin-top: 10px;
    }
}