@import '../utils/variables';
@import '../utils/mixins';

.tags_container{
    display: flex;
    margin-top: -10px;

    span{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 115px;
        height: 25px;
        margin-right: 10px;
        border-radius: 14px;
        background-color: $third-background-color;


    }
    p{
        font-size: 14px;
        color: $secondary-text-color;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}