@import '../utils/variables';
@import '../utils/mixins';

.tags_container{
    display: flex;

    span{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 84px;
        padding: 0px 15px 0 15px;
        height: 25px;
        margin-right: 10px;
        border-radius: 10px;
        background-color: $third-background-color;
        font-size: 14px;
        color: $secondary-text-color;
    }

    @include mobile-only{
        flex-wrap: wrap;
        row-gap: 10px;
        span{
        font-size: 10px;
        height: 18px;
        }
    }

}