@import '../utils/variables';
@import '../utils/mixins';

footer{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
background-color: $primary-background-color;
max-width: 1440px;
height: 209px;
    p{
    color: $secondary-text-color;
    font-size: 24px;
    margin-top: 25px;
    }
    
    img{
        margin-top: 14px;
    }

    @include mobile-only{
        p{
        font-size: 12px;
        }
    }
}

.about_footer{
    margin-top: 46px;
}